# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments

.venv/
venv/
env/

# Python packaging

*.egg-info/
dist/
build/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Environment files
# =========================

.env
.env.*

# =========================
# Data
# =========================

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Processed datasets
data/processed/*
!data/processed/.gitkeep

# =========================
# Machine Learning Outputs
# =========================

models/*
!models/.gitkeep

results/*
!results/.gitkeep

figures/*
!figures/.gitkeep

# =========================
# OS
# =========================

.DS_Store
.AppleDouble
.LSOverride

# =========================
# IDE
# =========================

.vscode/*
!.vscode/extensions.json

.idea/

# =========================
# Logs
# =========================

*.log